; 请妥善保管您的配置
registry=https://dengtacaijing-npm.pkg.coding.net/zhipinguanli/dengta/
always-auth=true
//dengtacaijing-npm.pkg.coding.net/zhipinguanli/dengta/:username=dengta-1668655766298
//dengtacaijing-npm.pkg.coding.net/zhipinguanli/dengta/:_password=ZmU2NjVmYmZmOGZkZjQwMzY4NDNmNDA2MDgyYTU0Mzk1ZWIwOTM1Ng==
//dengtacaijing-npm.pkg.coding.net/zhipinguanli/dengta/:email=mask2012@gmail.com